@media print {
  @page {
    size: A3;
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }

  h1, h2, h3, h4, h5, h6 {
    break-after: avoid;
  }

  .layout-wrapper {
    margin: 16px 0;
  }

  .p-toggleable-content {
    display: block !important;
  }

  .p-card {
    box-shadow: none;
  }

  .p-accordion-header {
    break-after: avoid;
  }
}
