body {
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

textarea {
  resize: none;
}

strong {
  font-weight: 500;
}
